*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

h1{
    text-align: center;
    font-size: 4.7rem;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
}



body{
    
 background-image: url('img/pexels-pixabay-531880.jpg');
 backdrop-filter: blur(4px);
}

.grafika{
    width: 49%;
    padding: 1rem;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
    margin: 10px 5px 10px 5px;
}

.lg{
    margin: 10px;
}

.jz{
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jazyk{
    width: 21px;
    margin: 3px 0 0 0.3% ;
    padding: 0px;
    outline: 0.1px solid black;
    
}


.sm{
    padding: 7px;
}



.text{
    color: rgb(255, 255, 255);
    padding: 1%;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/bg.jpg.jpg');
}

.ig{
    width: 45px;
    margin: 1%;
}




footer{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
}



h3{
    
    padding: 22px;
    color: rgb(252, 252, 252);
    font-weight: 300;
}

.ko{
    color: aliceblue;
    padding: 20px;
}




@media(max-width:1215px) {
.grafika{
    width: 81%;
    margin-left: 9%;
}

.text{
    color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 1%;
    font-size: 22px;
}



.ig{
    width: 37px;
    margin: 1%;
}

}

@media(max-width:768px) {

    h1{text-align: center;
        font-size: 3.7rem;
        padding: 5px;
        color: rgb(255, 255, 255);
       

}

.ig{
    width: 29px;
    margin: 1%;
}

.text{
    color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 1%;
    font-size: 15px;
}



}


