*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

h1{
    text-align: center;
    font-size: 4.7rem;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/bg.jpg.jpg');
}



body{
    
 background-image: url('img/pexels-pixabay-531880.jpg');
 backdrop-filter: blur(4px);
}

.grafika{
    width: 49%;
    padding: 1rem;
    
    
}

.jazyk{
    width: 21px;
    float: left;
    padding: 0px;
    outline: 0.1px solid black;
    margin: 0 3px 0 3px;
}




.text{
    color: rgb(255, 255, 255);
    padding: 1%;
    font-size: 22px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../img/bg.jpg.jpg');
}




footer{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/bg.jpg.jpg');
}

h3{
    
    padding: 22px;
    color: rgb(252, 252, 252);
    font-weight: 300;
}

.ko{
    color: aliceblue;
    padding: 20px;
}


.lg{
    margin: 10px;
}

@media(max-width:1068px) {
.grafika{
    width: 81%;
    margin-left: 9%;
}



}

@media(max-width:768px) {

    h1{text-align: center;
        font-size: 3.7rem;
        padding: 5px;
        color: rgb(255, 255, 255);
        font-weight: 7%;

}



.text{
    color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 1%;
    font-size: 15px;
}



}



@media(max-width:568px) {

    h1{text-align: center;
        font-size: 2.7rem;
        padding: 5px;
        
        color: rgb(255, 255, 255);
        font-weight: 7%;

        
}



footer{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7rem;
}





}


