*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-image: url('img/pexels-pixabay-531880.jpg');
    backdrop-filter: blur(4px);

}


h1{
    text-align: center;
    font-size: 4.7rem;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/bg.jpg.jpg');
}


.dom{
    width: 70px;
    padding: 4px;
    margin: 5px;
    transition: all 0.2s;
}

.dom:hover{
    background: linear-gradient( rgba(146, 146, 146, 0.4), rgba(146, 146, 146, 0.4)), url('../img/bg.jpg.jpg');
    
}

.fot{
    text-align: center;
    
}

.foto{
    width: 24%;
    padding: 5px;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/bg.jpg.jpg');
   
}

.nv{
    width: 11.75%;
    padding: 5px;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/bg.jpg.jpg');
}

.tel{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.tel:hover{
    color:#76F3A8;
    transition: all 0.1s ;
}

.dom{
    width: 70px;
    padding: 4px;
    margin: 5px;
    transition: all 0.2s;
}

.dom:hover{
    background: linear-gradient( rgba(146, 146, 146, 0.4), rgba(146, 146, 146, 0.4)), url('../img/bg.jpg.jpg');
    
}

.Om{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.Om:hover{
    color:#76F3A8;
    transition: all 0.1s ;
}

h3{
    
    padding: 22px;
    color: rgb(252, 252, 252);
    font-weight: 300;
}

.ko{
    color: aliceblue;
    padding: 20px;
}

.Om{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}


footer{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/bg.jpg.jpg');
}

.ig{
    width: 40px;
    margin: 1%;
    transition: all 0.2s;
}

.ig:hover{
    width: 50px;
    margin: 1%;  
}



@media(max-width:1068px) {

.foto{
    width: 91%;
}


.nv{
    width: 45%;
    padding: 1%;
}

}

@media(max-width:768px) {

    h1{text-align: center;
        font-size: 3.7rem;
        padding: 5px;
        color: rgb(255, 255, 255);
       

}



}



@media(max-width:568px) {

    h1{
        text-align: center;
        font-size: 2.7rem;
        padding: 5px;
        color: rgb(255, 255, 255);
        font-weight: 100;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/bg.jpg.jpg');
    }



footer{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    
    font-size: 0.7rem;
}



}


