*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


body{
    height: 60%;
    background-image: url('img/bg_bggenerator_com\ \(7\).jpg');
    backdrop-filter: blur(5px);
   }





   .logo4{
    margin-top: 15px;
    margin-left: 32.5%;
    width: 35%;
    transition: all 0.2s;
}




@media(min-width:815px) {
    
    .logo4:hover{
       /* margin-left: 36.5%;
        /*width: 27%;*/
        transform: scale(1.1);
    }
}

@media(max-width:1215px) {
    
    .logo4{
        margin-left: 24.5%;
        width: 51%;
        
    }

    .logo4:hover{
        transform: scale(1.1);
    }
}

@media(max-width:815px) {
    
    .logo4{
        margin-left: 19.5%;
        width: 61%;
        
    }

    .logo4:hover{
        transform: scale(1.1);

    }
}



.grafika{
    width: 49%;
    padding: 1%;
    background-color: aqua;
    text-align: center;
    margin: 10px 5px 10px 5px;


}





.lg{
    margin: 10px;
}

.jz{
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0,0,0,0.2)), url('../img/bg.jpg.jpg'); */
    padding: 0.2%;
}

.jazyk{
    width: 21px;
    margin: 3px 0 0 0.3% ;
    padding: 0px;
   outline: 1px solid black;
   transition: all 0.2s;
}

.jazyk:hover{
    transform: scale(1.2);
    
}








footer{
    
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
    margin-top: 20px;
}

.Om{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}


.tel{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.tel:hover{
    color:#76F3A8;
    transition: all 0.1s ;
}

.Om{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.Om:hover{
    color:#76F3A8;
    transition: all 0.1s ;
}

h3{
    
    padding: 22px;
    color: rgb(252, 252, 252);
    font-weight: 300;
}



.ko{
    color: aliceblue;
    padding: 20px;
}

.sm{
    
    padding: 7px;
}


.ig{
    width: 40px;
    margin: 1%;
    transition: all 0.2s;
}

.ig:hover{
    transform: scale(1.2);
}




@media(min-width:1216px) {


    .grafika{
        width: 49%;
        padding: 1%;
        background-color: rgb(0, 209, 209);
       text-align: center;
       margin: 10px 5px 10px 5px;
    transition: all 0.2s;
    
    }
    
    
    .grafika:hover{
        background-color: rgb(104, 255, 137); 
        
        
        transform: scale(1.03);
    }
    
   
    
    }


@media(max-width:1216px) {
.grafika{
    width: 91%;
    margin-left: 5%;
}



}




