*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-image: url('img/bg_bggenerator_com\ \(3\).jpg');
    backdrop-filter: blur(5px);

}


.logo4{
    margin-top: 15px;
    margin-left: 32.5%;
    width: 35%;
    padding: 15px;
    transition: all 0.2s;
}




@media(min-width:815px) {
    
    .logo4:hover{
       /* margin-left: 36.5%;
        /*width: 27%;*/
        transform: scale(1.1);
    }
}

@media(max-width:1215px) {
    
    .logo4{
        margin-left: 24.5%;
        width: 51%;
        
    }

    .logo4:hover{
        transform: scale(1.1);
    }
}

@media(max-width:815px) {
    
    .logo4{
        margin-left: 19.5%;
        width: 61%;
        
    }

    .logo4:hover{
        transform: scale(1.1);

    }
}






.fot{
    text-align: center;
    
}

.foto{
    width: 24%;
    padding: 5px;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/bg.jpg.jpg');
   
}

.nv{
    width: 11.75%;
    padding: 5px;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/bg.jpg.jpg');
}

.tel{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.tel:hover{
    color:#76F3A8;
    transition: all 0.1s ;
}



.Om{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.Om:hover{
    color:#76F3A8;
    transition: all 0.1s ;
}

h3{
    
    padding: 22px;
    color: rgb(252, 252, 252);
    font-weight: 300;
}

.ko{
    color: aliceblue;
    padding: 20px;
}

.Om{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}


footer{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/bg.jpg.jpg');
}

.ig{
    width: 40px;
    margin: 1%;
    transition: all 0.2s;
}

.ig:hover{
    transform: scale(1.2);
}







@media(max-width:1068px) {

.foto{
    width: 91%;
}


.nv{
    width: 45%;
    padding: 1%;
}

}



@media(max-width:568px) {



footer{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    
    font-size: 0.7rem;
}



}


