*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}


body{
    
    background-image: url('img/pexels-pixabay-531880.jpg');
    backdrop-filter: blur(4px);
    height: 100%;
   }

h1{
    text-align: center;
    font-size: 4.7rem;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
}



.ja{
    width: 30%;
    padding: 1%;
   margin-left: 33%;
}

.text1{
    text-align: center;
    margin-top: 30px;
    margin-right: 8%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
    width: 84%;
    font-size: 1.8rem;
    padding: 8px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}





footer{
    
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
    
}

.Om{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}


.tel{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.tel:hover{
    color:#76F3A8;
    transition: all 0.1s ;
}

h3{
    
    padding: 22px;
    color: rgb(252, 252, 252);
    font-weight: 300;
}

.ko{
    color: aliceblue;
    padding: 20px;
}

.sm{
    padding: 7px;
}


.ig{
    width: 40px;
    margin: 1%;
    transition: all 0.2s;
}

.ig:hover{
    width: 50px;
    margin: 1%;  
}

       

@media(max-width:1216px) {


    .text1{
        text-align: center;
        margin-top: 30px;
        margin-right: 8%;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
        width: 84%;
        font-size: 1rem;
        padding: 8px;
        color: rgb(255, 255, 255);
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        float: right;
    }
    


    
      
     
}   

    