*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

h1{
    text-align: center;
    font-size: 4.7rem;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
}



body{
    
 background-image: url('img/pexels-pixabay-531880.jpg');
 backdrop-filter: blur(4px);
}

.grafika{
    width: 49%;
    padding: 1rem;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
   text-align: center;
   margin: 10px 5px 10px 5px;


}


.grafika:hover{
    background: linear-gradient( rgba(153, 116, 216, 0.5), rgba(81, 149, 180, 0.9), rgba(153, 116, 216, 0.5)), url('../img/bg.jpg.jpg');
    
}








.lg{
    margin: 10px;
}

.jz{
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jazyk{
    width: 21px;
    margin: 3px 0 0 0.3% ;
    padding: 0px;
    outline: 0.1px solid black;
    
}


.sm{
    padding: 7px;
}



.text{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1%;
    margin-left: 14%;
    margin-right: 14%;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('../img/bg.jpg.jpg');
}




footer{
    
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg.jpg');
    margin-top: 20px;
}

.tel{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.tel:hover{
    color:#76F3A8;
    transition: all 0.1s ;
}

h3{
    
    padding: 22px;
    color: rgb(252, 252, 252);
    font-weight: 300;
}

.ko{
    color: aliceblue;
    padding: 20px;
}

.ig{
    width: 40px;
    margin: 1%;
    transition: all 0.2s;
}

.ig:hover{
    width: 50px;
    margin: 1%;  
}


@media(max-width:1215px) {
.grafika{
    width: 91%;
    margin-left: 5%;
}

.text{
    color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 1%;
    font-size: 22px;
    margin: 0 3.5% 0 5.5%;
}





}

@media(max-width:768px) {

    h1{text-align: center;
        font-size: 3.7rem;
        padding: 5px;
        color: rgb(255, 255, 255);
       

}





.text{
    color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 1%;
    font-size: 15px;
}






}


